{% extends 'navbars/navbar_base.html' %}
{% block navbar %}
    {% include "navbars/navbar_Editor.html" %}
{% endblock %}

{% block navbarXS %}
    {% include "navbars/navbar_Editor.html" %}
{% endblock %}
{% block content %}
    <h1> Books to assign </h1>
    <table class="table">
        <tbody>
        <tr>
            <td style="font-weight: bold">Download book</td>
            <td style="font-weight: bold"> Title book</td>
            <td style="font-weight: bold"> Author name </td>
            <td style="font-weight: bold">Gender</td>
            <td style="font-weight: bold"> Date uploaded </td>
            <td style="font-weight: bold"> State </td>
            <td style="font-weight: bold">Post</td>
        </tr>
        {% for element in writer %}
            {% for element2 in element.books.all %}
                {% if element2.state == 1 %}
                <tr>
                        <td>
                            <button class="btn btn-primary fa fa-download" name="aceptar" id="nameForm"> Download </button>
                        </td>
                        <td>{{ element2 }}</td>
                        <td>{{ element.name }}</td>
                        <td>{{ element2.genere }}</td>
                        <td>{{ element2.date | date:"d/m/Y" }}</td>
                        <td><p style="color: green">Acepted</p></td>
                        <td>
                            <form role="form" action="{% url 'book_aceptSave' element2.id %}" method="POST" style="display: inline-block;">
                                {% csrf_token %}
                                <input type='text' class='form-control md-usuario' id='state' name='state' value="11" maxlength="30" style="display: none">
                                <button class="btn btn-primary btn-success fa fa-check" name="aceptar" type="submit" value=""> </button>
                            </form>
                        </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <input style="display: none" type="submit" id="valmenu" value="bookpublish"/>
{% endblock %}

{% block popUp %}
{% endblock %}