{% extends 'books/editor/solicitud_traduccion.html' %}

{% block popUp %}
    <div class="ventana">
        <div class="contenido-ventana" style="width: 71rem;">
            <span class="boton-cerrar"></span>
            <h1 style="font-size: 36px;">Descargar Traducción del libro "El principe del mal" - "Idioma":</h1>


            <div class="center">
                <a href="{% url 'solTraduc' %}" class="btn-default-bookiernes"> Descargar Traduccion </a>
                <a href="{% url 'solTraduc' %}" class="btn-default-bookiernes"> Volver </a>

            </div>
        </div>
    </div>

{% endblock %}