<h1> Books to assign </h1>

<table class="table">
    <tbody>
    <tr>
        <td style="font-weight: bold">Download book</td>
        <td style="font-weight: bold"> Title book</td>
        <td style="font-weight: bold"> Author name</td>
        <td style="font-weight: bold">Gender</td>
        <td style="font-weight: bold"> Date uploaded</td>
        <td style="font-weight: bold"> State</td>
        <td style="font-weight: bold">Asign State</td>
    </tr>
    {% for element in editor %}
        {% for element2 in element.books.all %}
            {% if element2.state == 0 %}
                <tr>
                    <td>
                        <button class="btn btn-primary fa fa-download" name="aceptar" id="nameForm"> Descargar</button>
                    </td>
                    <td>{{ element2 }}</td>
                    <td>{{ element.name }}</td>
                    <td>{{ element2.genere }}</td>
                    <td>{{ element2.date | date:"d/m/Y" }}</td>
                    <td><p style="color: yellow"> Por aceptar </p></td>
                    <td>
                        <form role="form" action="{% url 'book_aceptSave' element2.id %}" method="POST"
                              style="display: inline-block;">
                            {% csrf_token %}
                            <input type='text' class='form-control md-usuario' id='state' name='state' value="1"
                                   maxlength="30" style="display: none">
                            <button class="btn btn-primary btn-success fa fa-check" name="aceptar" type="submit"
                                    value=""></button>
                            <a href="{% url 'rejectBook' element2.id %}" class="btn btn-primary btn-danger fa fa-remove"
                               name="aceptar"></a>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<input style="display: none" type="submit" id="valmenu" value="bookasign"/>
{% block popUp %}
{% endblock %}