{% extends 'books/editor/solicitud_traduccion.html' %}

{% block popUp %}
    <script type="text/javascript">
        function ShowSelected() {
            var cod = document.getElementById("selectPop").value;
            $("#traducir").attr("href", cod);
        }

    </script>
    <div class="ventana">
        <div class="contenido-ventana">
            <span class="boton-cerrar"></span>
            <h1>Select the publisher to which you want to assign the following book for review:</h1>
                <label>Languages:</label>
                <select class="selectPop" id="selectPop" name="idioma" onchange="ShowSelected();">
                    <option value="">Select language:</option>
                    <option value="{% url 'solTraduc2' 'Cañas y barro' 'en' %}">Inglish</option>
                    <option value="{% url 'solTraduc2' 'Cañas y barro' 'de' %}">German</option>
                    <option value="{% url 'solTraduc2' 'Cañas y barro' 'pt' %}">Portuguese</option>
                    <option value="{% url 'solTraduc2' 'Cañas y barro' 'fr' %}">French</option>
                </select>
                <div class="center">
                    <a href="" id="traducir" class="btn-default-bookiernes">To accept</a>
                </div>
        </div>
    </div>

{% endblock %}