{% extends 'navbars/navbar_base.html' %}

{% block navbar %}
    {% if role == 'Client' %}
        {% include "navbars/navbar_Client.html" %}
    {% elif role == 'Editor' %}
        {% include "navbars/navbar_Editor.html" %}
    {% elif role == 'Writer' %}
        {% include "navbars/navbar_Writer.html" %}
    {% endif %}

{% endblock %}

{% block navbarXS %}
    {% if role == 'Client' %}
        {% include "navbars/navbar_Client.html" %}
    {% elif role == 'Editor' %}
        {% include "navbars/navbar_Editor.html" %}
    {% elif role == 'Writer' %}
        {% include "navbars/navbar_Writer.html" %}
    {% endif %}
{% endblock %}


{% block content %}
    {% if role == 'Client' %}
        {% include "books/client/gene.html" %}
    {% elif role == 'Editor' %}
        {% include "books/editor/libros_publicados.html" %}
    {% elif role == 'Writer' %}
        {% include "books/writer/gene.html" %}
    {% elif role == 'Editor in chief' %}
        {% include "auth/staff_login.html" %}
    {% endif %}

{% endblock %}

