<script>
    $(document).ready(function () {
        var value = $("#valmenu").val();
        // Checking for blank fields.
        if (value == 'bookacept') {
            $('.bookacept').addClass('active');
        } else if (value == 'bookreject') {
            $('.bookreject').addClass('active');
        } else if (value == 'bookasign') {
            $('.bookasign').addClass('active');
        } else if (value == 'bookpublish') {
            $('.bookpublish').addClass('active');
        } else if (value == 'solTrad') {
            $('.solTrad').addClass('active');
        } else if (value == 'bookremove') {
            $('.bookremove').addClass('active');
        }
    });
</script>

<li class="bookasign" id="submenu-item-account-overview">
    <a href="{% url 'book_publish' %}"><i class="fa fa-book" aria-hidden="true"></i> Books assign </a>
</li>

<li class="bookreject" id="submenu-item-account-overview">
    <a href="{% url 'book_rejected' %}"><i class="fa fa-remove" aria-hidden="true"></i> Books rejected </a>
</li>

<li class="bookacept" id="submenu-item-family-plan">
    <a href="{% url 'book_acept' %}"><i class="fa fa-check" aria-hidden="true"></i> Books accepted </a>
</li>
<li class="solTrad" id="submenu-item-account-overview">
    <a href="{% url 'solTraduc' %}"><i class="fa fa-files-o" aria-hidden="true"></i> Translation Request </a>
</li>
<li class="bookpublish" id="submenu-item-account-overview">
    <a href="{% url 'book_publishweb' %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Publish books </a>
</li>
<li class="bookremove" id="submenu-item-account-overview">
    <a href="{% url 'book_remove' %}"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove books </a>
</li>
<li id="salir">
    <a href="{% url 'login' %}"><i class="fa fa fa-undo" aria-hidden="true"></i> Exit </a>
</li>