
        #poner {
            margin-top: 5%;
        }

        body {
            background: url(../../../../static/img/fondo.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .borde {

            border-bottom: 25px solid #718986;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 0 4px -2px rgb(255, 255, 255) !important;
        }

        .album-results figure {
            height: 450px !important;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.84) !important;
        }

        .navbar {
            margin-bottom: 0px;
        }

        nav {
            background: black !important;
        }

        body {
            margin: 0
        }

        body {
            font-family: Circular, Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            background-color: #1B273B;
            font-weight: bold;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
        }


        .album-results figure {
            width: 100%;
            height: 350px !important;
            position: relative;
            margin: auto;
            overflow: hidden;
            box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
            cursor: pointer;
        }

        .index-segmented-body .album-results-free {
            text-align: center;
            color: #000;
        }

        .album-results .content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .album-results .img-responsive {
            object-fit: cover;
            width: 100%;
        }

        .album-results li:hover .content-overlay {
            opacity: 1;
        }

        .album-results li:hover .content-details {
            top: 50%;
            left: 50%;
            opacity: 1;
        }

        .album-results .content-details {
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all .2s ease-in-out 0s;
            -o-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
            display: block;
        }


        .album-results .album-play-button h2 {
            font-size: 32px;
        }

        .album-results .box {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .text-white {
            color: #fff;
        }

        h4, p.lead {
            font-size: 18px;
            font-weight: 400;
        }

        .btn-link {
            color: #1db954;
            padding-left: 0;
            padding-right: 0;
            font-weight: 700;
            min-width: 0;
        }

        .album-results figure .content-overlay {
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            background: rgba(0, 0, 0, .8);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
        }

        .album-results li {
            padding: 8px;
        }

        .album-results li {
            list-style-type: none;
        }

        .album-results figure {
            cursor: pointer;
        }

        .album-results .img-responsive {
            object-fit: cover;
            width: 100%;
        }

        .album-results img {
            width: 100%;
            height: 100%;
        }

        .index-segmented-body .album-results-free {
            text-align: center;
            color: #000;
        }

        .btn-link:focus, .btn-link:hover {
            text-decoration: none;
            background-color: transparent;
        }

        .btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
            border-color: transparent;
            padding-left: 0;
            padding-right: 0;
            font-weight: 700;
            min-width: 0;
        }

        .btn-link .azul-claro {
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            color: #13aac5 !important;
            text-decoration: none;
            background: transparent !important;
            border: none;
        }

        .btn-link .azul-claro:hover, .btn-link .azul-claro:focus {
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            color: #2d46b9 !important;
            text-decoration: none;
        }
