{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">

<!-- jQuery library -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/formStyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/css_BookView.css' %}" />
<link rel="stylesheet" href="{% static 'css/popUP.css' %}"/>


<title>{% block title %}BookView{% endblock %}</title>
